{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

  <div id="right_column">
    {% include 'right_nav.html' %}
  </div>

  <div id="left_column">
    {% include 'challenge/challenge_info.html' %}

    <ol id="posts" class="posts">
      {% for post in current_challenge.post_set.all %}
        <li class="post-container">
          <div class="post">
            <div class="post-avatar">
              <a class="pull-left" href="#">
                <img class="thumbnail" src="{{ post.account.gravatar_url }}" alt=account_thumbnail">
              </a>
            </div>
            <div class="post-wrapper">
              <h4 class="">Media heading</h4>
              {% if user == post.account.user %}
                <div class="pull-right">
                  <button class="btn">
                    Edit
                  </button>
                </div>
              {% endif %}
              <p>{{ post.github_link }}</p>
              {{ post.content | safe }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
