{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div id="container">
  <div class="item">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item w2">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item w2">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item w2">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
  <div class="item">
    <img class="container-full" src="{% static 'img/unicon_logo_color.png' %}" />
  </div>
</div>

{% endblock %}
