{% extends 'base.html' %}

{% block unauthenticated_content %}

{% load staticfiles %}

<div class="jumbotron">
  <div class="container">
    <div class="col-sm-7 text-center">
      <br/>
      <br/>
      <div class="row">
        <img src="{% static 'img/big_logo_black_with_moto.png' %}" id="logo" class="unicon-logo size_large" style="width: 90%; height: auto;"/>
      <br/>
      <br/>
      <br/>
      </div>
      <p>매주 하나의 주제로</p><p>새로운 서비스를 만들고 공유하세요</p>
    </div>
    <div class="col-sm-5">
      <form role="form-horizontal" action="/account/sign_up/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
